# build output
dist/
.astro/

# deps
node_modules/

# env & local
.env
.env.*
!.env.example

# os / editor
.DS_Store
*.log
npm-debug.log*
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
